@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #282a3a;
  padding: 0;
  margin: 0;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}
.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}
.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 24px 48px;
  }
  .nav-group {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

/* INTRODUCE SECTION */

.introduce-section {
  padding: 80px;
  max-width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  width: 50%;
}
.content-container .title {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 500;
}
.content-container .description {
  line-height: 32px;
}
.btn-container {
  display: flex;
  margin-bottom: 80px;
}
.btn {
  background-color: #6d1600;
  color: white;
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  padding: 24px 48px;
  border-radius: 0 32px;
  border: none;
  display: flex;
}
.images-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.images-container img {
  height: 348px;
  width: 20%;
  object-fit: cover;
}
.images-container img:nth-child(odd) {
  border-radius: 0 80px;
}
.images-container img:nth-child(even) {
  border-radius: 80px 0;
}

@media only screen and (max-width: 768px) {
  .introduce-section {
    padding: 24px;
  }
  .content-container {
    width: 100%;
  }
  .content-container .title {
    font-size: 32px;
  }
  .content-container .description {
    font-size: 16px;
    line-height: 24px;
  }
  .images-container {
    display: none;
  }
  .btn {
    font-size: 16px;
    padding: 16px 32px;
  }
  .btn-icon {
    width: 24px;
    height: 24px;
  }
  .btn-container {
    margin-bottom: 24px;
  }
}

/* SOCIAL-PROOF-SECTION */

.social-proof {
  padding: 0 80px;
}
.social-container {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 40px;
  max-width: 100%;
}
.social-item {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.item-b {
  padding-right: 80px;
  border-right: 1px solid black;
}
.number {
  font-size: 64px;
  font-weight: 400;
}
.item {
  font-size: 24px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .social-proof {
    padding: 0 24px;
  }
  .social-container {
    flex-wrap: wrap;
    padding: 36px 24px;
    justify-content: center;
  }
  .social-item {
    max-width: 100%;
  }
  .number {
    font-size: 30px;
  }
  .item {
    font-size: 14px;
  }
  .item-b {
    padding-right: 0;
    border-right: none;
  }
  hr {
    width: 50%;
    margin: auto;
  }
}

/* PRODUCTS-SECTION */

.products-section {
  padding: 80px;
}
.title-container {
  margin-bottom: 80px;
}
.title-container .title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  opacity: 0.56;
  margin-bottom: 8px;
}
.title-container .guide {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.products-section .group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.multibtn-container {
  background-color: #f6f6f6;
  width: fit-content;
  padding: 8px;
  border-radius: 40px;
}
.item-btn {
  padding: 16px 40px;
}
.btn-1 {
  background-color: white;
  border: none;
  border-radius: 40px;
  gap: 10;
  opacity: 0.7;
}
.btn-2 {
  border: none;
  background-color: transparent;
  opacity: 0.7;
}
.products-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.products-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 0 40px;
  height: 240px;
}
.product-info {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  
}
.product-title {
  font-size: 24px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", serif;
  margin-top: 16px;
}
.rating {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.7;
}
.reviews {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}
.product-description {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  text-align: left;
  line-height: 23px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.price-container .price {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
}
.price-container .add-btn {
  border-radius: 8px;
  border: none;
  background-color: transparent;
  max-height: fit-content;
}
.products-section hr {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .products-section {
    padding: 36px;
  }
  .title-container {
    margin-bottom: 24px;
  }
  .title-container .title {
    font-size: 14px;
  }
  .title-container .guide {
    font-size: 24px;
  }
  .products-section .group-container {
    gap: 24px;
  }
  .multibtn-container {
    padding: 4px;
    border-radius: 40px;
  }
  .item-btn {
    padding: 12px;
    font-size: 14px;
  }
  .btn-1 {
    border-radius: 40px;
  }
  .btn-2 {
    border-radius: 40px;
  }
  .products-container {
    gap: 16px;
  }
  .products-container img {
    border-radius: 0 40px;
    height: 160px;
  }
  .product-info {
    gap: 8px;
    padding: 8px 16px;
  }
  .product-title {
    font-size: 14px;
    margin-top: 8px;
  }
  .rating {
    font-size: 12px;
  }
  .star {
    width: 12px;
    height: 12px;
  }
  .reviews {
    font-size: 11px;
  }
  .product-description {
    font-size: 11px;
    line-height: 16px;
  }
  .price-container .price {
    font-size: 16px;
  }
  .price-container .add-btn {
    border-radius: 8px;
    padding: 12px;
  }
  .add-icon {
    width: 50px;
    height: 50px;
  }
  .product-card-4 {
    display: none;
  }
  .products-section hr {
    margin-top: 40px;
  }
  .add-btn {
    padding: 0px;
  }
  .products-section hr {
    margin-top: 24px;
  }
}

/* ABOUT-SECTION */

.about-section {
  padding: 0 80px 80px 80px;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  max-width: 100%;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.about-info p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.about-img {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.about-img .about-img-1 {
  width: 50%;
  padding-top: 64px;
}
.about-img .about-img-2 {
  width: 50%;
  padding-bottom: 64px;
}
.about-img img {
  height: 442px;
  width: 100%;
  object-fit: cover;
}
.about-img-1 img {
  border-radius: 0 120px;
}
.about-img-2 img {
  border-radius: 120px 0;
}
.about-section hr {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .about-section {
    padding: 0 36px;
  }
  .about-container {
    gap: 24px;
    text-align: center;
  }
  .about-info .btn {
    margin: auto;
  }
  .about-info p {
    font-size: 14px;
    line-height: 24px;
  }
  .about-img {
    display: none;
  }
  .about-section hr {
    margin-top: 40px;
  }
}

/* REVIEW-SECTION */

.reviews-section {
  padding: 0 80px 80px 80px;
}
.reviews-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 100%;
}
.review-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 40px;
  width: 33%;
}
.review-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.review-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.review-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.review-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.reviews-section hr {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .reviews-section {
    padding: 36px 36px 0 36px;
  }
  .reviews-container {
    flex-direction: column;
    gap: 0px;
    max-width: 100%;
  }
  .review-card {
    width: fit-content;
    padding: 24px 16px;
    gap: 8px;
  }
  .review-img img {
    width: 50px;
    height: 50px;
  }
  .review-info {
    gap: 0px;
  }
  .review-info .review-name {
    font-size: 14px;
  }
  .review-info .star-icon {
    width: 80px;
  }
  .review-text p {
    font-size: 13px;
    line-height: 20px;
  }
  .reviews-section hr {
    margin-top: 18px;
  }
}

/* BLOGS-SECTION */

.blogs-section {
  padding: 0 80px 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.blogs-section .title-container {
  margin-bottom: 0;
}
.blogs-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.blog-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 0 96px 0 40px;
  width: 33%;
}
.blog-img img {
  border-radius: 0 80px;
  width: 100%;
  object-fit: cover;
}
.blog-info {
  display: flex;
  justify-content: space-between;
}
.blog-info p {
  font-size: 14px;
  font-weight: 400;
}
.blog-author, .blog-date {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-text p {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.blog-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

}
.blog-btn a {
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .blogs-section {
    padding: 36px;
    gap: 36px;
    max-width: 100%;
  }
  .blogs-container {
    width: 100%;
  }
  .blog-card {
    width: 100%;
    padding: 16px;
    gap: 8px;
    border-radius: 0 96px 0 40px;
  }
  .blog-2 {
    display: none;
  }
  .blog-img img {
    border-radius: 0 80px;
    width: 100%;
    object-fit: cover;
  }
  .blog-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .blog-btn {
    gap: 4px;
  }
  .blog-btn a {
    font-size: 14px; 
  }
  .blog-info p {
    font-size: 12px;
    font-weight: 400;
  }
  .blog-author, .blog-date {
    gap: 4px;
  }
}

/* FOOTER */

footer {
  background-color: #282a3a;
  padding: 80px;
}
.footer-container p, .footer-container h2 {
  color: #ffffff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  max-width: 100%;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.company-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.company-info p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.logo-container p {
  font-size: 48px;
  font-weight: 600;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.links-container {
  display: flex;
  justify-content: space-between;
}
.links-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-icon {
  display: flex;
  gap: 8px;
  opacity: 0.7;
}
.sub-title {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 8px 8px 8px 24px;
  border-radius: 16px;
}
.input-group .group-icon {
  display: flex;
  gap: 8px;
}
.input-group input {
  border: none;
  background-color: transparent;
}
.subs-btn {
  background-color: #6d1600;
  color: white;
  border: none;
  padding: 16px 64px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 36px;
  }
  .footer-container {
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
  }
  .company-info {
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  .logo-container {
    gap: 16px;
    width: 100%;
    justify-content: center;
  }
  .logo-container svg {
    width: 40px;
  }
  .logo-container p {
    font-size: 24px;
  }
  p.contact-info {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  .company-desc, .links, .social-icon {
    display: none;
  }
  .footer-links {
    gap: 24px;
  }
  .links-container {
    flex-direction: column;
    gap: 12px;
  }
  .links-group {
    gap: 16px;
  }
  .sub-title {
    font-size: 16px;
    margin: auto;
  }
  .subscribe-container {
    max-width: 100%;
  }
  .input-group input {
    font-size: 12px;
  }
  .input-group svg {
    width: 20px;
  }
  .subs-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}






