body {
  margin: 0;
  padding: 10px 40px;
}
.container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.main-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.main-image {
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.main-image img {
  height: 100%;
}
img {
  height: 100%;
  object-fit: cover;
}
li {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
li img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
svg {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
svg:hover {
  background-color: lightgrey;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
}
.active img {
  border: 1px solid black;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
}
